.main-container-personal-cabinete{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    padding: 0px 10px 0px 10px;
}
.modal-overlay-delete {
    position: fixed;
    top: 0;
    display: none;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
    visibility: hidden;
    z-index: 3;
  }

.video-clear{
    position: relative;
    padding-bottom: 5.25%;
}
.logo-personal-cabinete{
    color: black;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.main-regestration-profile{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: auto;
    gap: 17px;
    font-size: 12px;
    margin-top: 30px;
}
.main-regestration-profile h2 {
    color: white;
    font-weight: 100;
    font-size: 16px;
}

.nav-personal-cabinete{
    display: flex;
    flex-direction: row;
    padding: 0px 5px;
    margin-top: 20px;
    align-items: flex-start;
    min-height: 360px;
    gap: 5px;
    width: 100%;
    background-color: #18181bed;
    border-radius: 5px;
}

.button-nav-personal-cabinete{
    display: flex;
    flex-direction: column;
    max-width: 246px;
    width: 100%;
    max-height: auto;
    justify-content: center;
    gap: 13px;
    align-items: center;
    margin-top: 30px;
}

table span{
    color: white;
}
table thead tr th{
    color: white;
    font-size: 15px;
}
.table-tr{
    text-align: left;
}

tbody tr td{
    color: white;
    font-size: 14px;
}
table{
    width: 100%;
    margin-top: 35px;
}
td > img{
    width: 85px;
}
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 1px solid #46464990;;
    padding: 8px;
  }




.more-about-order{
    background-color: #ea4c89d0;
    color: white;
    border: none;
    height: 35px;
    max-width: 219px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
    padding: 0px 5px 0px 5px;
}
.more-about-order:hover{
    background-color: #EA4C89;
}
.profile-personal-cabinete-container{
    display: flex;
    /* justify-content: left; */
    align-items: flex-start;
    flex-direction: column;
    gap: 31px;
    max-width: 1400px;
    width: 100%;
}
.name-surname-profile, .phone-gmail-profile{
    display: flex;
    flex-direction: column;
    gap: 31px;
    font-size: 18px;
}
.js-form-personal-cabinete{
    width: 100%;
    max-width: 900px;
}

.profile-personal-cabinete,.all-administration-order-personal-cabinete,.administration-personal-cabinete, .button-log-out-btn-profile-page, .change-password-personal-cabinete, .my-order-personal-cabinete, .settings-personal-cabinete{
    border: none;
    color: white;
    font-size: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    width: 100%;
    max-width: 219px;
    box-sizing: border-box;
    max-height: 100px;
    height: 42px;
    font-weight: 100;
    gap: 0px;
    border-radius: 5px;
    background: none;
    padding: 0px 23px 0px 23px;
}
.profile-personal-cabinete:hover,.all-administration-order-personal-cabinete:hover, .administration-personal-cabinete:hover,.button-log-out-btn-profile-page:hover, .change-password-personal-cabinete:hover, .my-order-personal-cabinete:hover, .settings-personal-cabinete:hover{
    background-color: #464649;
    color: white;
    transition: 0.1s;
}

.profile-btn-click{
    background-color: #464649;
    color: white;
    border: none;
}


.main-settings-container{
    font-size: 17px;
    margin-top: 20px;
    width: 100%;
    display: flex;
    min-height: 502px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin: auto;
    background-color: none;
    border-radius: 5px;
    border-left: 1px solid #46464990;
    padding: 0px 20px 35px 20px;
  }

.header-settings-page{
    max-width: 640px;
    width: 100%;
    height: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.header-settings-page > h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 100;
    height: 66px;
}
.main-settings-contrainer-first{
    width: 100%;
    margin-top: 0px;
}

.main-regestration-container-after-change{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 486px;
    margin: auto;
}
.agree-disagree-btn-container{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: flex-end;
    margin-top: 40px;
}
.agree-for-exit-btn, .agree-for-delete-btn{
    background-color: #ea4c89d0;
    border: none;
    color: white;
    display: flex;
    font-size: 17px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 117px;
    max-width: 313px;
    box-sizing: border-box;
    max-height: 100px;
    height: 33px;
    font-weight: 100;
    border-radius: 5px;
}
.phone-title-personal-cabinete{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    display: none;
}
.phone-title-personal-cabinete h2{
    color: white;
    font-size: 17px;
    font-weight: 100;
}
.table-tr-phone{
    display: none;
}
.agree-for-exit-btn:hover, .agree-for-delete-btn:hover{
    background-color: #EA4C89;
}
.disagree-for-exit-btn, .disagree-for-delete-btn{
    background-color: #35353b9d;
    border: none;
    color: white;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 117px;
    max-width: 313px;
    box-sizing: border-box;
    max-height: 100px;
    height: 33px;
    font-weight: 100;
    border-radius: 5px;
}
.disagree-for-exit-btn:hover, .disagree-for-delete-btn:hover{
    background-color: #35353B;
  color: white;
}
.administration-personal-cabinete, .all-administration-order-personal-cabinete{
    display: none;
}
.administration-personal-cabinete-show, .all-administration-order-personal-cabinete-show{
    display: flex;
}
.fa-arrow-right-from-bracket{
    margin-right: 15px;
}
.td-number{
    text-align: center;
}


.button-delete-profile{
    background-color: #18181b00;
    border: none;
    color: #ea4c89d0;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    max-height: 100px;
    height: 40px;
    font-weight: 100;
    border-radius: 5px;
    margin-bottom: 25px;
}
.button-delete-profile:hover{
    background-color: #35353B;
  color: white;
}
@media only screen and (max-width: 1030px){
    .th-img-title {
        margin-bottom: 51px;
    }
    .table-tr{
        display: none;
    }
    .table-tr-phone{
        display: flex;
        flex-direction: column;
    }
    .nav-personal-cabinete {
        display: flex;
        flex-direction: row;
        padding: 0px 5px;
        margin-top: 20px;
        align-items: flex-start;
        min-height: 360px;
        gap: 5px;
        width: 100%;
        background-color: #18181bed;
        border-radius: 5px;
    }
    table thead tr th {
        color: white;
        font-size: 14px;
    }
    .more-about-order {
        background-color: #ea4c89d0;
        color: white;
        border: none;
        height: 27px;
        max-width: 219px;
        width: 100%;
        border-radius: 5px;
        cursor: pointer;
        box-sizing: border-box;
        padding: 0px 5px 0px 5px;
    }
    td > img {
        width: 73px;
    }
    table {
        width: 100%;
        display: flex;
        justify-content: center;
      }
    
      th, td {
        display: flex;
        flex-direction: column;
        text-align: left;
        width: 100%;
      }
    
      th::before {
        content: attr(data-label);
        font-weight: bold;
        text-transform: uppercase;
      }
  
    .main-settings-container{
        font-size: 17px;
        margin-top: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: auto;
        background-color: none;
        border-radius: 5px;
        padding: 0px 5px 0px 14px;
        padding: 0px 5px 35px 14px;
      }
    
}


@media only screen and (max-width: 880px){
    header {
        font-family: var(--ff-secondary);
        background: var(--clr-grey-10);
        color: var(--clr-grey-1);
        line-height: 1.5;
        font-size: 0.875rem;
        margin: 0;
        min-height: 70px;
    }
    
    .nav-personal-cabinete {
        display: flex;
        flex-direction: row;
        padding: 0px 5px;
         margin-top: 0px; 
        align-items: flex-start;
        gap: 5px;
        width: 100%;
        background-color: #18181bed;
        border-radius: 5px;
    }
}

@media only screen and (max-width: 700px){
    .th-last-title{
        margin-top: 1px;
    }
    .profile-btn-click > i{
        color: #EA4C89;
    }
    .phone-title-personal-cabinete{
        display: flex;
        justify-content: center;
        margin-top: 30px;
        display: flex;
    }
    .input-password-registration-page, .input-repeat-password-registration-page, .input-old-password-registration-page {
        width: 100%;
        height: 34px;
        outline: none;
        padding-left: 5px;
        padding-right: 5px;
        background-color: #464649;
        border: none;
        color: white;
        font-size: 16px;
        border-radius: 5px;
    }
    .input-name, .input-surname, .input-phone-number, .input-gmail-addres {
        width: 100%;
        height: 34px;
        outline: none;
        padding-left: 5px;
        padding-right: 5px;
        background-color: #464649;
        border: none;
        font-size: 16px;
        border-radius: 5px;
        color: white;
        box-sizing: border-box;
    }
    .main-regestration-profile {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        max-width: 600px;
        margin: auto;
        gap: 17px;
        font-size: 12px;
        margin-top: 15px;
    }
    .visible{
        display: none;
    }
    .fa-arrow-right-from-bracket {
        margin-right: 0px;
    }
    .button-nav-personal-cabinete {

        display: flex;
        flex-direction: column;
        max-width: 49px;
        width: 100%;
        max-height: 195px;
        justify-content: center;
        gap: 10px;
    }
    .profile-personal-cabinete,.all-administration-order-personal-cabinete,.administration-personal-cabinete, .button-log-out-btn-profile-page, .change-password-personal-cabinete, .my-order-personal-cabinete, .settings-personal-cabinete {
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        background: none;
        height: 32px;
        width: 100%;
        max-width: 32px;
        border-radius: 32px;
        padding: 2px;
        border: none;
    }
    .profile-btn-regestration-page, .button-delete-profile{
        padding: 0px 5px 0px 5px;
    }
    .administration-personal-cabinete, .all-administration-order-personal-cabinete{
        display: none;
    }
    .administration-personal-cabinete-show, .all-administration-order-personal-cabinete-show{
        display: flex;
    }

    .main-regestration {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        max-width: 500px;
        margin: auto;
        gap: 17px;
        font-size: 12px;
        margin-top: 30px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .nav-personal-cabinete {
        display: flex;
        flex-direction: row;
        padding: 0px 5px;
        gap: 0px;
        margin-top: 0px;
        align-items: flex-start;
        width: 100%;
        background-color: #18181bed;
        border-radius: 5px;
    }
    .profile-btn-click {
        background-color: #464649;
        color: white;
        border: none;
    }
    header {
        font-family: var(--ff-secondary);
        background: var(--clr-grey-10);
        color: var(--clr-grey-1);
        line-height: 1.5;
        font-size: 0.875rem;
        margin: 0;
        min-height: 70px;
    }
    .agree-disagree-btn-container{
        display: flex;
        flex-direction: row;
        gap: 30px;
        justify-content: center;
        margin-top: 20px;
    }
  }

  

  @media only screen and (max-width: 370px){
    .th-last-title{
        margin-top: 7px;
    }
}
  .profile-btn-regestration-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    justify-content: flex-end;
}

.modal-overlay-exit {
    position: fixed;
    top: 0;
    display: none;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    align-items: center;
    justify-content: center;
    transition: var(--transition);
    visibility: hidden;
    z-index: 3;
  }
  /* OPEN/CLOSE MODAL */
  .open-modal {
    display: grid;
  place-items: center;
  visibility: visible;
  z-index: 3;
  }

  .modal-container-exit {
    background: #28282B;
    border-radius: var(--radius);
    width: 90vw;
    height: 30vh;
    max-width: 613px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 33px;
    position: relative;
    margin-bottom: 300px;
  }
  .header-modal-log-in > h3 {
    font-size: 23px;
    text-align: center;
    color: white;
    font-weight: 100;
}

.modal-overlay-delete {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: none;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
    visibility: hidden;
    z-index: 3;
  }
  /* OPEN/CLOSE MODAL */
  .open-modal {
    display: grid;
  place-items: center;
  visibility: visible;
  z-index: 3;
  }
  .modal-container-delete {
    background: #28282B;
    border-radius: var(--radius);
    width: 90vw;
    height: 30vh;
    max-width: 613px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 33px;
    position: relative;
    margin-bottom: 300px;
  }
