@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

:root {
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}


.intro{
    max-height: 100vh;
    overflow: hidden;
    position: relative;
}
.intro:after{
content: '';
display: block;
width: 100%;
height: 100%;
background-color: rgba(0, 0 , 0 ,0.5);
position: absolute;
top: 0;
left: 0;
}
.video{
    position: relative;
    padding-bottom:56.25%;
}
.video-media{
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}
.video-personal-cabinete{
  position: relative;
    padding-bottom:5.25%;
}
.logo-phone{
  display: none;
}
.header-links-container{
  max-width: 1170px;
  margin:auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 6px;
  padding-left: 5px;
  padding-right: 5px;
}
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: white;
}

.header-links li > h2{
color: #B2B2B2;
font-size: 12px;
}
.social-icons-phone-size{
  display: none;
}
.header-links li a{
  color:#B2B2B2;
  font-size: 13px;
}
.header-links-container .work-time  h2{
  color: #B2B2B2;
  font-size: 13px;
}

.color-video-logo{
  width: 565px;
  height: 315px;
  clip-path: url(#text-overlay);
}
svg{
  font-size: 5em;
  position: absolute;
  top: 0;
  left: 0;
}
.logo-text > text{
  display: flex;
  flex-direction: column;

}

.logo-bedclothes-title >h2{
  font-weight: 100;
}

.button-allnewproduct{
  position: absolute;
  top: 70%;
}

.logo-bedclothes-title{
  font-size: 20px;
}
.logo-bedclothes-title{
  position: absolute;
  top: 37%;
  color: white;
  font-size: 17px;
}

.header-links{
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
  gap: 14px;
}
.header-links .fa-instagram, .header-links .fa-envelope{
  color: #B2B2B2;
}

.logo-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 3;
  top: 0;
  left: 0;
}

.logo-text {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 8px;
  height: 193px;
  background: rgba(0,0,0,0.5);
  margin-bottom: 300px;
}
.logo-text > h2{
  color: white;
  font-size: 50px;
}

.logo-text > h3{
  color: #B2B2B2;
  font-size: 25px;
}
.allnewprod-btn{
  background: rgba(0,0,0,0.3);
  border: none;
  cursor: pointer;
  color: white;
  width: 331px;
  height: 65px;
  font-size: 25px;
  border: 1px solid white;
  transition: background-color 0.5s;
  display: flex;
  justify-content: center;
}

.allnewprod-btn:hover {
  background-color: #EA4C89;
}
.fa-times:hover{
  color: #EA4C89;
}

.body-container{
  max-width: 1170px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  font-family: var(--ff-secondary);
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
  margin: 0;
  min-height: 85px;
}
body {
  font-family: var(--ff-secondary);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
  margin: 0;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 776px) {
  .section-center {
    width: 95vw;
  }
}
main {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 1170px;
  min-height: calc(100vh - 110.5px - 151px);
}


nav {
  background: #1E1E1E;
  position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    position: fixed;
    width: 100%;
}
nav .nav-header h2{
  color: white;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav-toggle {
  font-size: 1.5rem;
  color: white;
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover {
  color: #EA4C89;
  transform: rotate(90deg);
}
.logo {
  height: 40px;
  color: white;
}

.links a:hover {
  background: var(--clr-primary-8);
  color: #EA4C89;
  padding-left: 1.5rem;
}
.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.links {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
.show-links {
  height: 11rem;
}
.personal-cabinete-after-registration-phone-size{
  display: none;
}

.personal-cabinete-after-registration-phone-size-show{
  display: flex;
  gap: 5px;
}
.social-icons button{
  margin: 0 0.5rem;
  color: white;
  transition: var(--transition);
  background: none;
  border: none;
  cursor: pointer;
  /* position: absolute;
  top: 34%;
  left: 77%; */
}


@media screen and (min-width: 880px) {
 
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 6px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .personal-cabinete-after-registration-phone-size{
    display: none;
  }
  .log-in-btn-phone-size{
    display: none;
  }
  
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links {
    height: auto;
    display: flex;
    gap: 32px;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
  .social-icons {
    display: flex;
  }
  .social-icons button {
    margin: 0 0.5rem;
    color: white;
    transition: var(--transition);
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .social-icons button:hover {
    color: #EA4C89;
  }
  .social-icons a {
    margin: 0 0.5rem;
    transition: var(--transition);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
  }
  .fa-shopping-bag:hover {
    color: #EA4C89;
    transition: var(--transition);
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: none;
  place-items: center;
  transition: var(--transition);
  visibility: hidden;
  z-index: 3;
}
/* OPEN/CLOSE MODAL */
.open-modal {
  display: grid;
  place-items: center;
  visibility: visible;
  z-index: 3;
}
.modal-container {
  background-color: #18181bf8;
  border-radius: var(--radius);
  width: 90vw;
  height: 50vh;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 33px;
  position: relative;
  padding: 20px;
}
.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 24px;
  background: transparent;
  border-color: transparent;
  color: white;
  cursor: pointer;
}


.header-modal-log-in > h3{
  font-size: 23px;
  color: white;
}

.login-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}

.password-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}

.login-container > h2{
  color: white;
  font-size: 17px;
}
.login{
  /* width: 100%;
  max-width: 313px;
  border: 1px solid black;
  box-sizing: border-box;
  padding-left: 5px;
  padding-right: 5px;
  max-height: 100px;
  height: 46px;
  outline: none;
  background-color: #E2E2E2;
  font-size: 16px; */
  width: 100%;
    height: 38px;
    outline: none;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #464649;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    color: white;
    box-sizing: border-box;
}

.login:focus, .password:focus{
  border:1px solid #EA4C89;
    background-color: black;
    box-sizing: border-box;
    outline: none;
}
.fa-eye-modal{
  color: white;
}

.password{
  /* width: 100%;
  max-width: 313px;
  border: none;
  box-sizing: border-box;
  padding-left: 5px;
  padding-right: 5px;
  max-height: 100px;
  height: 46px;
  outline: none;
  background-color: #E2E2E2;
  font-size: 16px; */
  width: 100%;
    height: 30px;
    outline: none;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #464649;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 10px;
}

.autorization-btn{
  background-color:#ea4c89d0;
  color: white;
  border: none;
  font-size: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  max-height: 100px;
  height: 38px;
  cursor: pointer;
  border-radius: 5px;
}
.autorization-btn:hover{
background-color: #EA4C89;
}

.registration-btn{
  background-color: none;
  border: none;
  color: #ea4c89d0;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  max-height: 100px;
  height: 38px;
  cursor: pointer;
  border-radius: 5px;
}
.registration-btn:hover{
  background-color: #35353B;
  color: white;
}

.login-and-password{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 19px;
  width: 100%;
  max-width: 430px;
  max-height: 106px;
  height: 106px;
}
.login-and-password-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  max-width: 430px;
  max-height: 150px;
  height: 132px;
}
.password-container{
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  width: 100%;
  background-color: #E2E2E2;
}

.remebmer-me-btn{
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
}
.remebmer-me-btn > h3{
  font-size: 14px;
  color: #707070b1;
}
.checkbox-remember-me{
  cursor: pointer;
}
.non-see-icon{
  display: none;
}
.show-password .non-see-icon{
  display: inline;
}
.show-password .see-icon{
  display: none;
}
.checkbox-remember-me{
 accent-color: black;
}

footer{
  display: flex;
  flex-direction: column;
  gap: 0px;
  border-top: 1px solid #6868684e;
  margin-top: 70px;
}
.footer-container{
  display: flex;
  flex-direction: column;
  gap: 18px;
  background-color: #1E1E1E;
}

.footer-header{
  max-width: 1170px;
  width: 100%;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  margin-bottom: 0px;
}
.footer-nav{
  max-width: 1170px;
  width: 100%;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  padding-right: 5px;
}
.footer-logo{
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: #1E1E1E;
  font-size: 25px;
}

.footer-links li a{
  color:#1E1E1E;
  font-size: 15px;
 }

.footer-links{
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.footer-nav > h3{
  color: white;
  font-size: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: 100;
}

.personal-cabinete-after-registration{
  display: none;
}

.personal-cabinete-after-registration-show{
  display: flex;
  gap: 5px;
}

.personal-cabinete-after-registration-show:hover{
  color: #EA4C89;
  transition: var(--transition);
}
.admin-panel{
  display: none;
}
.admin-panel-show{
  display: flex;
  justify-content: space-around;
  gap: 20px;
  width: 100%;
  max-width: 725px;
}

.admin-edit, .admin-add{
  background-color: #1E1E1E;
  color: white;
  width: 100%;
  height: 40px;
  cursor: pointer;
  border: none;
  font-size: 17px;
  transition: all 0.3s;
  border: 1px solid white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.log-in-btn-unshow{
  display: none;
}

.bagadge-shops, .bagadge-shops-phone-size{
  position: relative;
}
.counter, .counter-phone-size{
  position: absolute;
  top: -10px;
  left: 7px;
  background-color: #EA4C89;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
.counter-show{
  display: flex;
}

li, a{
  color: white;
  display: flex;
  align-items: center;
  gap: 5px;
}

.js-form-login{
  display: flex;
    max-width: 1033px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.information-about-product{
  margin-top: 52px;
  margin-bottom: 16px;
}
.material-container > img{
  width: 71px;
  display: flex;
  height: 68px;
  color: #EA4C89;;
}

.material-container{
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.info-container{
  display: flex;
  justify-content: space-between;
}

.input-login.error{
  border: 1px solid rgb(222, 14, 14);
}
.input-login.error:focus{
  border: 1px solid #EA4C89;
}

.cookie{
  font-size: 8rem;
  color: red;
}


.wrong-password-or-email-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  max-width: 314px;
  width: 100%;
  gap: 6px;
  border-bottom: 1px solid red;
  display: none;
}

.wrong-password-or-email-container >h2{
  font-size: 14px;
  color: red;
}
.fa-xmark{
  font-size: 15px;
  color: red;
}
.show-wrong-password-or-email-container{
  display: flex;
}
.btn-delete-item{
  position: absolute;
    width: 40px;
    height: 40px;
    top: 2%;
    left: 83%;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: rgb(161 161 161 / 40%);
    opacity: 1;
}
.btn-delete-item:hover{
  background-color:rgba(161 161 161 / 80%);
}
.btn-delete-item > img{
  width: 20px;
}

.alert {
  z-index: 3;
    position: fixed;
    top: 88px;
    left: 40%;
    right: 40%;
    width: auto;
    height: auto;
    padding: 10px;
    margin: 10px;
    line-height: 1.8;
    border-radius: 5px;
    cursor: hand;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: 400;
  display: none;
}
.alert-show{
  display: flex;
}

.alertCheckbox {
  display: none;
}
:checked + .alert {
  display: none;
}

.alertText {
  display: table;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
}

.alertClose {
  float: right;
  padding-top: 5px;
  font-size: 10px;
}

.clear {
  clear: both;
}
.fa-heart{
  font-size: 15px;
}
.fa-shopping-bag{
  font-size: 15px;
}

.success {
  background-color: rgb(165, 255, 165);
  border: 1px solid #DED;
  color: rgb(108, 120, 108);
}

@media only screen and (max-width: 1450px){
  .logo-text {
    margin-bottom: 262px;
  }
}

@media only screen and (max-width: 1250px){
  .logo-text {
    margin-bottom: 220px;
  }
}

@media only screen and (max-width: 1120px){
  .logo-text {
    margin-bottom: 170px;
  }
  .logo-bedclothes-title {
    margin-top: 28px;
  }
}

@media only screen and (max-width: 1000px){
  .logo-text {
    margin-bottom: 122px;
    height: 171px;
  }
}

@media only screen and (max-width: 930px){
  .logo-text {
    margin-bottom: 106px;
    height: 153px;
  }
  
}

@media only screen and (max-width: 880px){
  .logo-bedclothes-title {
    margin-top: 0px;
}
.personal-cabinete-after-registration-show{
  display: none;
}
.log-in-btn{
  display: none;
}
.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 1.7%;
  left: 82%;
  gap: 4px;
}
  .svg-video{
    height: 148px;
    width: 287px;
  }
  .color-video-logo {
    width: 287px;
    height: 148px;
    clip-path: url(#text-overlay);
}
  .header-links-container{
    display: none;
  }
  .logo-text {
    margin-bottom: 39px;
    height: 87px;
  }
  .logo-bedclothes-title {
    position: absolute;
    top: 44%;
    color: white;
    font-size: 11px;
    margin-top: 15px;
  }
  svg {
    font-size: 36px;
  }
  .logo-text > h2{
    font-size: 26px;
  }
  .logo-text > h3{
    font-size: 15px;
  }
  .allnewprod-btn {
    display: none;
  }

  .logo{
    font-size: 20px;
  }
  .fa-bars{
    font-size: 22px;
  }
  .nav-header{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 3px;
    padding-top: 3px;
  }
  .links a {
    color: white;
    font-size: 15px;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  .links a:hover {
    color: #EA4C89;
  }
  .links a {
    padding: 0.5rem 10px;
  }
  .links a:hover {
    padding: 0.5rem 10px;
    background: transparent;
    transition: var(--transition);
  }
  .social-icons-phone-size button {
    margin: 0 0.5rem;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
  }
  .social-icons-phone-size button:hover {
    color: #EA4C89;

  }
  .social-icons-phone-size{
    display: flex;
  }
  .social-icons-phone-size {
    display: flex;
    margin-left: 60px;
  }
  .footer-header{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  .footer-links{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  .footer-header{
    height: 146px;
  }
  .footer-nav > h3 {
    color: white;
    font-size: 12px;
    width: 383px;
}
.footer-logo {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: #1E1E1E;
  font-size: 21px;
}

.footer-nav {
  justify-content: space-between;
  flex-direction: column;
}
.footer-nav > h3 {
  color: white;
  font-size: 15px;
  max-width: 383px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 27px;
}
.alert{
  left: 30%;
    right: 30%;
}
}


@media only screen and (max-width: 620px){
  .logo-text {
    margin-bottom: 0px;
  }
  .test{
    display: none;
  }
  .logo-bedclothes-title {
    margin-top: 25px;
  }
  .alert{
    left: 20%;
      right: 20%;
  }
  .admin-panel-show{
    flex-direction: column;
  }
  .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 1.7%;
    left: 79%;
  }
  .logo-phone{
    display: flex;
    font-size: 26px;
  }
  .logo-phone-title{
    font-size: 14px;
  }
  .logo-bedclothes-title {
    margin-top: -22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
}

@media only screen and (max-width: 440px){
  .logo-text {
    margin-bottom: 0px;
  }
  .logo-bedclothes-title {
    margin-top: 22px;
  }

  .intro{
    margin-top: 46px;
  }
  .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 1.8%;
    left: 74%;
  }
  .logo-bedclothes-title {
    margin-top: -22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
}

@media only screen and (max-width: 390px){
  .logo-text {
    margin-bottom: 0px;
  }
  .logo-bedclothes-title {
    margin-top: 22px;
  }
  .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 1.8%;
    left: 67%;
}
  .personal-cabinete-after-registration-show{
    font-size: 11px;
  }
  .fa-heart{
    font-size: 13px;
  }
  .fa-shopping-bag{
    font-size: 13px;
  }
  .logo {
    font-size: 20px;
    max-width: 314px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.social-icons-phone-size button {
  margin: 0 5px;
  color: white;
  transition: var(--transition);
  background: none;
  border: none;
  cursor: pointer;
}
.logo-bedclothes-title {
  margin-top: -22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
}

@media only screen and (max-width: 349px){
  .logo-text {
    margin-bottom: 0px;
    margin-top: 0px;
}
  .logo-bedclothes-title {
    margin-top: 15px;
  }
  .logo {
    font-size: 16px;
    max-width: 314px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.social-icons-phone-size button {
  margin: 0 7px;
  color: white;
  transition: var(--transition);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
}
.fa-bars {
  font-size: 19px;
}
.logo-bedclothes-title {
  margin-top: -22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
}

.nav-button-index, .nav-button-about-us, .nav-button-delivery{
  color: white;
  font-size: 1rem;
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
}
.nav-button-index-click, .nav-button-about-us-click, .nav-button-delivery-click, .nav-button-personal-cabinete-click{
  color:#EA4C89;
}


.pagenumbers {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.pagenumbers button {
	width: 50px;
	height: 50px;

	appearance: none;
	border: none;
	outline: none;
	cursor: pointer;

	background-color: #44AAEE;

	margin: 5px;
	transition: 0.4s;

	color: #FFF;
	font-size: 18px;
	text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.pagenumbers button:hover {
	background-color: #44EEAA;
}

.pagenumbers button.active {
	background-color: #44EEAA;
	box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.list{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin-top: 30px;
}

.item{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

